/* This is a comment in CSS*/

div{
    border-style:solid;  /* give the div a solid border that's 1 pixel wide and purple*/
    border-width:5px;
    border-color: mediumpurple;
}

/* set the style for all divs with the class colorDiv*/
.colorDiv{     /* notice the period in front - this indicates that we're talking about a class of objects! */
    background:rebeccapurple;
}


.imageDiv {
    background: mediumpurple;
    padding: 1%;
}

img{
    width: 100%;
}

.titleDiv {
    font-family: 'Poppins', sans-serif;  /*use the font we imported from Google fonts*/
    font-size: 40pt;
    color: ghostwhite;
}

#div2 {  /* note the # sign - that indicates that we're using an id, rather than a class */
    position:relative;
    width: 44%;
    float:right;
}

#div3 {  /* note the # sign - that indicates that we're using an id, rather than a class */
    color: ghostwhite;
    position:relative;
    width: 49%;
    float:left;  /* position the div as far to the left as possible, and immediately under/next to the element before it*/
}

#div4 {
    clear:both;
    float:left;
    width:49%;  /* note that this is less than 50% because the border takes up 2 px of width - try turning off the border and then increasing to 50% */
}

